.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  width: 100%;
  margin: 20px;
}

.formContent {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.logoImage {
  width: 150px;
  margin-bottom: 20px;
}

.title {
  margin-top: 0px;
  color: #28561f;
  font-size: 40px; /* Adjust the size as needed */
  font-weight: bold;
  font-family: system-ui;
}

.gradientText {
  margin-top: -30px;
  background: linear-gradient(to right, #f70301, #8b2f11, #28561f); /* Define your gradient colors */
  -webkit-background-clip: text; /* For Chrome, Safari */
  background-clip: text; /* For other browsers */
  color: transparent; /* Make text color transparent to show the gradient */
}

.text {
  color: #555;
  margin: 10px 0 20px;
  font-size: 20px;
  margin-top: -25px;
}

.inputGroup {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  margin-bottom: -20px;
}

.inputField {
  flex: 1;
}

.passwordCriteria {
  text-align: left;
  font-size: 0.9em;
  color: #555;
  margin-top: 50px;
  line-height: 1.4;
}

.termsLink,
.privacyLink {
  color: #57a6ff;
  text-decoration: none;
  font-weight: bold;
}

.termsLink:hover,
.privacyLink:hover {
  text-decoration: underline;
}

.checkbox {
  font-size: 17px;
  text-align: left;
  color: #555;
  margin-top: 25px;
}

.box1,
.box2{
  margin-top: -10px;
}

.signupButton {
  margin: 30px;
  font-size: 1.2em;
  padding: 12px 0;
  border-radius: 8px; 
}

.errorText {
  color: white;
  background-color: red;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 0.9em;
  text-align: center;
}

