.background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background: url('./images/AceBldg.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    margin-top: -50px;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .title {
    margin-top: -20px;
    font-size: 30px;
    color: #28561f;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .highlight {
    margin-top: -30px;
    background: linear-gradient(to right, #f70301, #8b2f11, #28561f); /* Define your gradient colors */
    -webkit-background-clip: text; /* For Chrome, Safari */
    background-clip: text; /* For other browsers */
    color: transparent; /* Make text color transparent to show the gradient */
  }
  
  .subtitle {
    margin-top: -10px;
    margin-bottom: 50px;
    font-size: 18px;
    color: gray;
  }
  
  .inputField {
    margin-bottom: 20px;
  }
  
  .passwordCriteria {
    text-align: left;
    font-size: 0.9em;
    color: gray;
    margin-bottom: 20px;
  }
  
  .submitButton {
    background-color: #3d9d3b;
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 550px;
  }

  .submitButton:hover {
    background-color: #1b5e20;
  }
  
  /* .returnButton {
    color: #3d9d3b;
    border-color: #3d9d3b;
  } */
  